name: CBOE options daily parquet v2

on:
  # schedule:
  #   - cron: '0 11 * * 1-5'
  workflow_dispatch: # Allow manual trigger from GitHub Actions UI

permissions:
  contents: write

jobs:
  set-release-vars:
    runs-on: ubuntu-latest    
    outputs:
      cboe-tag: ${{ steps.cboedata.outputs.RELEASE_NAME }}      
    steps:
      - id: cboedata
        run: echo "RELEASE_NAME=DATA_$(date --rfc-3339=date)" >> ${GITHUB_OUTPUT}

  split-batches:
    runs-on: ubuntu-latest
    needs: set-release-vars
    outputs:
      batches: ${{ steps.make_batches.outputs.batches }}
    env:
      FORCE_DAY_ID: ${{ github.event.inputs.forceDayId }}
      BATCH_CHUNK_SIZE: 100
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      - name: Create batch files
        id: make_batches
        run: |
          # run the helper that writes JSON files to temp/symbol-batches and prints a JSON array of filenames
          deno run --allow-all jobs/generate-snapshots/split-batches.ts
          json_content="$(cat "$GITHUB_WORKSPACE/temp/batch-manifest.json")"

          {
            echo "batches<<EOF"
            echo "$json_content"
            echo "EOF"
          } >> "$GITHUB_OUTPUT"

  cboe-options-daily-parquet:
    runs-on: ubuntu-latest
    needs: [set-release-vars, split-batches]
    strategy:
      matrix:
        batchFile: ${{ fromJson(needs.split-batches.outputs.batches) }}
      fail-fast: false
    env:
      BATCH_FILE: ${{ matrix.batchFile }}
      MATRIX_ID: ${{ strategy.job-index }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.14" # Specify your Python version
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r jobs/options-data/requirements.txt
      - name: Run the Python script
        run: python jobs/options-data/download-data.py -u
      - name: Upload artifacts 
        uses: actions/upload-artifact@v4
        with:
          name: cboe-data-batch-${{ strategy.job-index }}
          if-no-files-found: error
          path: |
            ${{ github.workspace}}/data/cboe-options-summary.json
            ${{ github.workspace}}/temp/options-data/batch-${{ strategy.job-index }}/*.parquet

  summarize-data:
    runs-on: ubuntu-latest
    needs: [set-release-vars, cboe-options-daily-parquet]
    env:
      RELEASE_NAME: ${{needs.set-release-vars.outputs.cboe-tag}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: temp
      - name: List all files in temp directory
        run: |
          echo "Listing all files and subdirectories in temp:"
          ls -lR temp
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.14" # Specify your Python version
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r jobs/options-data/requirements.txt
      - name: Run the Python script
        run: python jobs/options-data/finalize-summary.py -u
      - name: Upload artifacts 
        uses: actions/upload-artifact@v4
        with:
          name: cboe-data
          if-no-files-found: error
          path: |
            ${{ github.workspace}}/data/cboe-options-summary.json
            ${{ github.workspace}}/temp/*.parquet
  # release-cboe-data:
  #   runs-on: ubuntu-latest
  #   needs: [set-release-vars, cboe-options-daily-parquet]
  #   env:
  #     RELEASE_NAME: ${{needs.set-release-vars.outputs.cboe-tag}}
  #   steps:
  #     - name: Setup repo
  #       uses: actions/checkout@v4
  #       with:
  #         fetch-depth: 0   # Fetch all commits to ensure the latest state is available
  #         ref: main        # Ensure the latest state from the main branch is checked out
  #     - name: Download snapshot images Artifact
  #       uses: actions/download-artifact@v4
  #       with:
  #         name: cboe-data
  #     # - name: Release
  #     #   uses: ncipollo/release-action@v1
  #     #   with:
  #     #     artifacts: "temp/*.parquet"
  #     #     tag: ${{ env.RELEASE_NAME }}
  #     #     commit: "main"
  #     #     allowUpdates: "true"
  #     #     artifactErrorsFailBuild: "true"
  #     - name: Release
  #       uses: mnsrulz/action-gh-release@master
  #       with:
  #         files: "temp/*.parquet"
  #         tag_name: ${{ env.RELEASE_NAME }}

  #     - name: Commit and push changes
  #       run: |
  #         git config --global user.name "GitHub Actions"
  #         git config --global user.email "actions@github.com"
  #         git add --all
  #         if git diff-index --quiet HEAD; then
  #           echo "No changes to commit."
  #         else
  #           git commit -m "Update data/cboe-options-summary.json (via GitHub Actions)"
  #           git push
  #         fi
